@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

:root{
    --el-font-size-base:16px!important
}



.login_from > div {
    margin: 12px 0;
    height: 40px;
}
.el-input__inner{
    padding: 20px 0;
}









@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
